.page__main {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
}

.main__background {
  background-image: url("http://apikabu.ru/img_n/2012-11_3/m3r.jpg");
  height: 15rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



